{
  admin off
  auto_https off
}

:80 {
  encode zstd gzip

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer
  }

  reverse_proxy {$SHIYAO_UPSTREAM}
}
